html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  color: #fff;
}

:root {
  --darkGrey: #3a3a3c;
  --lightGrey: #818384;
  --green: #618c55;
  --yellow: #b1a04c;
  --black: #000;
}
