.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
    text-align: center;
    font-size: 4em;
    color: white;
}

.buttonArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.textInput {
    display: block;
    padding: 5px 15px;
    margin: 20px 0;
}

.button {
    display: block;
    color: white;
    padding: 20px;
    border: 2px solid var(--darkGrey);
}

.startBtn:hover,
.button:hover {
    background-color: var(--green);
}

.disabled a:hover {
    background-color: var(--lightGrey) !important;
}

.start {
    text-align: center;
}

.startBtn {
    display: inline;
    color: white;
    background-color: black;
    cursor: pointer;
    padding: 20px;
    border: 2px solid var(--darkGrey);
}

.gameOver {
    text-align: center;
}

.hint {
    font-style: italic;
    color: var(--lightGrey);
    width: 10rem;
    height: 2rem;
}

.backButton {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    text-align: center;
}